<div class="card">
    <h2 class="card-header">Channels</h2>
    <div class="card-body">
        <div class="dropdown-wrapper">
            <div ngbDropdown *ngFor="let channel of getChannels()">
                <button ngbDropdownToggle class="btn" type="button" [class.btn-secondary]="!isChannelHidden(channel)"
                        [class.btn-outline-secondary]="isChannelHidden(channel)">{{channel}}</button>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="toggleChannel(channel)">
                        {{isChannelHidden(channel) ? "Show" : "Hide"}}</button>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem (click)="part(channel)">Leave</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <form [formGroup]="channelsForm" (ngSubmit)="join()">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>
                <input type="text" formControlName="channel" class="form-control" placeholder="Channel">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit" [disabled]="!channelsForm.valid">Join</button>
                </div>
            </div>
        </form>
    </div>
</div>