<div class="card">
    <h1 class="card-header">Twitch Superchad</h1>
    <div class="card-body">
        <app-toasts></app-toasts>
        <div class="scrollable" #scrollable>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let message of getMessages()" (click)="highlight(message)"
                    #messagesOutput>
                    <ng-container *ngIf="MessageType.USER == message.type">
                        <span>[{{message.channel}}]</span>
                        <<span [ngStyle]="{'color':message.user.color}">{{message.user.name}}</span>>:
                        <span [innerHTML]="message.text"></span>
                    </ng-container>
                    <ng-container *ngIf="MessageType.SYSTEM == message.type">
                        <em class="text-muted">{{message.text}}</em>
                    </ng-container>
                </li>
            </ul>
        </div>
        <button class="btn btn-warning" id="scrollToBottomButton"
                (click)="scrollToBottom()" *ngIf="!scrolledToBottom">Chat stopped due to scrolling
        </button>
    </div>
    <div class="card-footer">
        <form [formGroup]="messageForm" (ngSubmit)="send()">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select formControlName="channel" class="form-control">
                        <option value="">Select channel...</option>
                        <option *ngFor="let channel of getChannels();" value="{{channel}}">{{channel}}</option>
                    </select>
                </div>
                <input type="text" formControlName="message" class="form-control" placeholder="Enter message">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit" [disabled]="!messageForm.valid">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>