.card {
  $padding: 5%;
  bottom: $padding;
  left: $padding;
  position: fixed;
  right: $padding;
  top: $padding;
}

.card-body {
  overflow-y: auto;
}

#status {
  bottom: 0;
  position: fixed;
  right: 0;
}
