.card {
  $padding: 5%;
  bottom: $padding;
  left: $padding;
  position: fixed;
  right: $padding;
  top: $padding;

  &-body {
    overflow-y: auto;
  }
}

.list-group-item {
  cursor: pointer;
}

app-toasts {
  left: 1.25rem;
  position: absolute;
  right: 1.25rem;
  z-index: 1;
}