$card-spacer-x: 1.25rem;
$card-spacer-y: .75rem;

.card, ngx-simplebar {
  height: 100%;
}

.card {
  &-body {
    position: relative;

    .list-group-item {
      cursor: pointer;

      &:hover {
        background-color: whitesmoke;
      }
    }

    app-toasts {
      left: $card-spacer-x;
      position: absolute;
      right: $card-spacer-x;
      z-index: 1;
    }

    #scrollToBottomButton {
      bottom: $card-spacer-y;
      position: absolute;
      right: $card-spacer-x;
    }
  }
}