@import "~bootstrap/scss/bootstrap";

body, html,
.container-fluid, .row, .col {
  height: 100%;
}

body {
  background-color: darkslategray;
}

app-stats {
  display: block;
  margin-top: $grid-gutter-width;
}

.container-fluid {
  padding: $grid-gutter-width/2;
}

.card {
  &-header, &-footer {
    background-color: #9147ff;
    color: #fff;
  }

  &-header {
    font-family: 'Press Start 2P', serif;
    text-align: center;
    text-transform: uppercase;
  }
}

.scrollable {
  overflow-y: auto;
}